@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: CodeSaver;
   src: url("/fonts/CodeSaver-Regular.otf");
}

@layer base {
   body {
      font-family: CodeSaver, monospace, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
         Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   }
}